.login {
    display: grid;
    grid-gap: 2rem;
    margin: auto auto;
    font-size: 1.6rem;
    text-align: center;
    width: 30rem;
    border: 1px solid black;
    div {
        display: grid;
        text-align: start;
    }
}